<footer class="clearfix">
  <div class="row">
    <div class="col-lg-12">
      <p class="text text-center">Se precisar de ajuda envie um e-mail para: contato@atencaobasica.org.br </p>
    </div>

    <div  class="text-center col-lg-12 logos-patrocinio">
      <a text="Site do DAB" href="http://dab.saude.gov.br/">
        <img class="img-patrocini" src="/images/patrocinio.jpg">
      </a>
    </div>
  </div>

</footer>