
<div class="page-header" id="banner">
  <div class="row">
    <div class="col-md-12">
      <img id="logo" class=" img-responsive pull-left" src="/images/mostra-logo.jpg">
      <h1>Gerador de certificados da IV Mostra</h1>
      <p class="lead">IV Mostra Nacional de Experiências em Atenção Básica e Saúde da Família</p>
    </div>
  </div>
</div>
