<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">IV Mostra</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li >
          <a href="/" id="themes"><span class="glyphicon glyphicon-home"></span> Início</a>
        </li>
        <li >
          <a target="_blank" href="http://mostrasaude.net/" id="themes">
          <span class="glyphicon glyphicon-share-alt"></span>
            Site da mostra
          </a>
        </li>

        <li >
          <a target="_blank" href="http://atencaobasica.org.br/" id="themes">
          <span class="glyphicon glyphicon-share-alt"></span>
            Comunidade de Práticas
          </a>
        </li>

      </ul>
    </div>
  </div>
</div>