<div class="col-lg-8 form-main col-lg-offset-2">
  <%- include ./forms/form_search_certificados.ejs %>

</div>

<div class="col-lg-8 col-lg-offset-2 ">

<div class="panel informacoes-home panel-default">
  <div class="panel-heading">Informações</div>
  <div class="panel-body">
    <p>
      No momento só estão disponíveis os certificados de:
      <br>
      <ol>
        <li>
          Participante
        </li>
        <li>
          Relato compartilhado da Comunidade de Práticas ( atencaobasica.org.br )
        </li>
        <li>
          Equipe de relatoria
        </li>
      </ol>
    </p>
    <p>
      Os certificados dos relatos, premiações e minicursos / oficinas vão ser disponibilizados em breve
    </p>
  </div>
</div>

</div>


