<div class="col-lg-8 form-main col-lg-offset-2">
  <%- include ./forms/form_search_certificados.ejs %>

</div>

<div class="col-lg-8 col-lg-offset-2 ">

<div class="panel informacoes-home panel-default">
  <div class="panel-heading">Informações</div>
  <div class="panel-body">
    <p>
      No momento só estão disponíveis os certificados de:
      <br>
      <ol>
        <li>
          Participante
        </li>
        <li>
          Relato compartilhado da Comunidade de Práticas ( atencaobasica.org.br )
        </li>
        <li>
          Equipe de relatoria
        </li>
        <li>
          Atendimento no espaço Cuide com as PICs
        </li>
        <li>
          Curador
        </li>
        <li>
          Coordenador de Curadoria
        </li>
        <li>
          Relato premiado
        </li>
        <li>
          Cursos:
          <ul>
            <li>Gestão, Atenção, Educação e Participação - vivendo a realidade do Sistema Único de Saúde - Ver-SUS Brasil
            </li>
            <li>Fluoretação das Águas de Abastecimento Público: Transposição do Rio São Francisco e Impacto Epidemiológico
            </li>
            <li>Cenopoesia e a Educação Popular ocupando e transformando os territórios da saúde
            </li>
            <li>Tenda do Conto: uma prática inventiva de cuidado
            </li>
            <li>e-SUS AB na prática: PEC e CDS
            </li>
            <li>Manejo da Infecção do HIV na Atenção Básica
            </li>
            <li>Conexões Humanas, Redes e Grafos - "AGORA SAÚDE"
            </li>
            <li>Remuneração por desempenho e experiências no PMAQ para a qualificação da atenção básica
            </li>
            <li>Pro e Pet Saúde: formação das graduações em saúde nas redes de atenção ordenadas pela atenção básica
            </li>
            <li>Saúde do Trabalhador na Atenção Básica: desafios e possibilidades no cotidiano das equipes - nível superior
            </li>
            <li>Territórios na atenção básica
            </li>
            <li>Saúde do Trabalhador na Atenção Básica: desafios e possibilidades no cotidiano das equipes - nível superior
            </li>
            <li>Saúde do Trabalhador na Atenção Básica: desafios e possibilidades no cotidiano das equipes - ACS
            </li>
          </ul>
        </li>
      </ol>
    </p>
    <p>
      Os certificados dos relatos, premiações e minicursos / oficinas vão ser disponibilizados em breve
    </p>
  </div>
</div>

</div>


