<html>

<head>

<style type="text/css">
html {
  width: 100%;
  height: 774px;
  background-image: url(<%= bgFileUrl %>);
  background-size:100% 774px;
}
body {
  color: #000;
  margin: 0px;
  padding: 0px;
}

#header,
#main,
#footer {
  z-index: 10;
  clear: both;
  float: none;
}

#header {
  height: 230px;
}
.main-wrapper {
  width: 100%;
  height: 290px;
}
#main {
  color: #000;
  font-size: 24px;
  width: 870px;
  margin: 0px auto 0px auto;
  line-height: 32px;
}
#footer {
  height: 200px;
}

</style>

</head>
<body>
  <div id="header">

  </div>
  <div class="main-wrapper">
    <div id="main">
    <p>Certificamos que <strong><%= data.nome %></strong> participou da <strong class="event-name">IV Mostra Nacional de Experiências em Atenção Básica/Saúde da Família</strong>, como coordenador dos atendimentos em Auriculopuntura no “Espaço Cuide com Práticas Integrativas e Complementares em Saúde – PICs”, em Brasília, no período de 12 a 15 de março de 2014.</p>
    </div>
  </div>
  <div id="footer">

  </div>
</body>
</html>
